body { 
  margin: 0;
}

html {
  background: hsla(0, 0%, 100%, 1);
}

@media (prefers-color-scheme: dark) {
  html {
    background: hsl(0, 0%, 7%);
  }
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  transition: color 300ms;
  transition: background-color 500ms;
}

body{
  display: block;
  font-family: Oxygen, sans-serif;
  color: hsl(0, 0%, 7%);
  font-weight: normal;
  font-size: 16px;

  line-height: 150.5%;
}
@media (prefers-color-scheme: dark) {
  body {
    color: hsla(0, 0%, 100%, 1);
  }
}

@media screen and (min-width: 321px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 769px) {
  body {
    font-size: 24px;
  }
}


a {
  color: hsl(0, 0%, 7%);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: hsla(0, 0%, 100%, 1);
  }
}

a:visited {
  text-decoration: none;
}

ul {
  padding-inline-start: 20px;
}

.top-nav-padding {
  height: 64px;
}

.top-nav-logo {
  padding-left: -1px;
}
@media screen and (min-width: 769px) {
  .top-nav-logo {
    padding-left: 27px;
  }
}

.top-nav-logo > div {
  display: flex;
}

.top-nav-container {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background: hsla(0, 0%, 100%, 1);
  z-index: 1000;
  margin-left: 11px;
  margin-right: 11px;
}
.top-nav-container > * {
  color: hsl(0, 0%, 7%);
  fill: hsl(0, 0%, 7%);
}
@media (prefers-color-scheme: dark) {
  .top-nav-container {
    background: hsl(0, 0%, 7%);
  }
  .top-nav-container > * {
    color: hsla(0, 0%, 100%, 1);
    fill: hsla(0, 0%, 100%, 1);
    }  
}

@media screen and (min-width: 769px) {
  .top-nav-container {
    margin-left: 0;
    margin-right: 0;
  }
}


.top-nav-modal-container {
  display: block;
}
@media screen and (min-width: 769px) {
  .top-nav-modal-container {
    display: none;
  }
}

.top-nav-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-nav-modal-content > div {
  margin: 8px;
}

.top-nav-closed-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

.top-nav-toggle {
  width: 78px;
  opacity: 0;
  transition: opacity 500ms;
}

.top-nav-mobile-links {
  display: flex;
  align-items: center;
}
.top-nav-mobile-links > a {
  margin: 16px;
}
.top-nav-mobile-links > a:last-child {
  margin-right: 0;
}
.top-nav-mobile-links {
  display: inherit;
  margin-right: 24px;
}
@media screen and (min-width: 769px) {
  .top-nav-mobile-links {
    display: none;
    margin-right: 32px;
  }
}
.top-nav-mobile-links > div:nth-child(2) {
  display: flex;
}

.top-nav-desktop-links {
  display: flex;
  align-items: center;
}
.top-nav-desktop-links > a {
  margin: 16px;
}
.top-nav-desktop-links > a:last-child {
  margin-right: 0;
}
.top-nav-desktop-links {
  margin-right: 24px;
  display: none;
}
@media screen and (min-width: 769px) {
  .top-nav-desktop-links {
    margin-right: 32px;
    display: inherit;
  }
}

.top-nav-link-container {
  display: flex;
  align-items: center;
}