@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
